@using BookWebCatalog.Models;
@model AuthorViewModel;
@{

}
<<<<<<< HEAD

=======
>>>>>>> b1d7631ba789a122084cb7cd1c758e27a0ae453b
<div class="row">
	<div class="col-md-8 mx-auto rounded border p-3">
		<h2 class="text-center mb-5">New Author</h2>
		<form method="post" enctype="multipart/form-data">
			<div class="row mb-3>">
				<label class="col-sm-4 col-form-label">First Name</label>
				<div class="col-sm-8">
					<input class="form-control" asp-for="FirstName" />
					<span asp-validation-for="FirstName" class="text-danger"></span>
				</div>
			</div>
			<div class="row mb-3>">
				<label class="col-sm-4 col-form-label">Last Name</label>
				<div class="col-sm-8">
					<input class="form-control" asp-for="LastName" />
					<span asp-validation-for="LastName" class="text-danger"></span>
				</div>
			</div>
			<div class="row mb-3>">
				<label class="col-sm-4 col-form-label">Years</label>
				<div class="col-sm-8">
					<input class="form-control" asp-for="Years" />
					<span asp-validation-for="Years" class="text-danger"></span>
				</div>
			</div>
			<div class="row mb-3>">
				<label class="col-sm-4 col-form-label">DateOfBirth</label>
				<div class="col-sm-8">
					<input class="form-control" asp-for="DateOfBirth" />
					<span asp-validation-for="DateOfBirth" class="text-danger"></span>
				</div>
			</div>
			<div class="row>">
				<div class="offset-sm-4 col-sm-4 d-grid">
					<button type="submit" class="btn btn-primary">Submit</button>
				</div>
				<div class="col-sm-4 d-grid">
					<a class="btn btn-outline-primary" asp-controller="Author" asp-action="Index" role="button">
						Cancel
					</a>
				</div>
			</div>

		</form>
	</div>
</div>
