@using BookWebCatalog.Data.Models;
@using static BookWebCatalog.Common.AdminUser;
@model List<BookPublisher>
@{

}
<h2 class=" text-center mb-5">List of @Model.Count BookPublishers</h2>
<div class="row mb-5">
    <div class="col">
        @if (User.IsInRole(AdminRoleName))
        {
            <a class="btn btn-primary" asp-area="" asp-controller="BookPublisher" asp-action="Create">New BookPublisher</a>
        }
    </div>
    <div class="col">
    </div>
</div>
<table class="table">
    <thead>
        <tr>
            <th>Book</th>
            <th>Publisher</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.Book.Title</td>
                <td>@item.Publisher.Name</td>
            </tr>
        }
    </tbody>
</table>


